.idea/
*.ipr
*.iws
target/
trading.home_IS_UNDEFINED/
catalina.home_IS_UNDEFINED/
.DS_Store
.DS_Store?
wm.home_IS_UNDEFINED/
.vscode/

*.sc
/tmp.*
/tmp?.*
/tmp
*.log

/lib_managed/
scalafix
.bsp/
.sbtopts

## Linux/KDE/Ubuntu
.directory
##

.bloop/
.metals/
metals.sbt
/project/pluginsLocalDev.sbt

bazel-*
!bazel-deps
.ijwb
.bsp/

bin/
/docs

local.conf
liquibase.local.properties
user.bazelrc

build-info/build-info.conf

# OPA cache files
.opa
dist/

# Liquibase debugging tools
tools/liquibase/k8s/debug/*.sh
